{% extends 'base.html' %}

{% block head %}

<title>Predict the revenue of a movie </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict the revenue of a Movie </h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="float" name="budget" id="budget" placeholder="budget">
            <input type="float" name="genres" id="genres" placeholder="# of genres">
            <input type="float" name="popularity" id="popularity" placeholder="popularity">
            <input type="float" name="production_companies" id="production_companies" placeholder="# of production companies">
            <input type="float" name="production_countries" id="production_countries" placeholder="# of production countries">
            <input type="float" name="release_date" id="release_date" placeholder="release_date">
            <input type="float" name="runtime" id="runtime" placeholder="runtime">
            <input type="float" name="spoken_languages" id="spoken_languages" placeholder="# of spoken_languages">
            <input type="float" name="vote_average" id="vote_average" placeholder="vote_average">
            <input type="float" name="vote_count" id="vote_count" placeholder="# of voters">


            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}